@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(205, 174, 218);
}

.hero-area {
    position: relative; 
}

.hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #d77bf3;
    background: linear-gradient(95deg, #7333bd 40%, #9d06e4 100%);
    -webkit-transform: skewY(-12deg);
    transform: skewY(-7deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -12; 
}

.hero-area .overlay span {
    width: 50%;
    bottom: 0;
    background: #d77bf3;
    background: linear-gradient(95deg, #d77bf3 40%, #9d06e4 100%);
    position: absolute;
    height: 170px;
    left: 3%; 
}

.hero-area .contents {
    padding: 200px 0; 
}

.hero-area .contents .card {
    width: 70%;
    height: 300px;
    margin: auto;
    border: 3px solid rgb(218, 200, 164);
    border-radius: 15px;
    background-color: rgb(253, 248, 238);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: skew(0.6deg) rotate(-0.6deg);
}

.hero-area .contents .card img{
    width: 240px;
    height: 240px;
    margin: 5px;
    border-radius: 25px;
    border: 3px solid rgb(0, 0, 0);
}

.hero-area .contents .card h1{
    font-size: 50px;
}

.hero-area .contents .card p{
    font-size: 20px;
}

.fa {
    color: inherit;
    padding: 20px;
    text-decoration: none;
}

@media all and (max-width: 1200px){
    .hero-area .contents {
        padding: 80px 0; 
    }

    .hero-area .contents .card{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 600px;
    }

    .hero-area .contents .card h1{
        font-size: 40px;
        padding: 12px;
    }

    .hero-area .contents .card p{
        font-size: 15px;
        padding-left: 12px;
    }
}

.topnav {
    background-color: rgb(75, 29, 105);
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 800;
}

.topnav #link {
    color: rgb(204, 191, 174);
    float: right;
    padding: 8px 12px;
    margin: 10px 8px 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.topnav #resume {
    background-color: rgb(197, 139, 231);
    color: rgb(117, 33, 228);
    float: right;
    padding: 8px 12px;
    margin: 8px 8px 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: 3px solid rgb(235, 212, 162);
    border-radius: 12px;
}

.topnav #name {
    color: rgb(204, 191, 174);
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

@media all and (max-width: 1000px){
    .topnav #name {
        font-size: 20px;
    }

    .topnav #resume {
        font-size: 13px;
        padding: 8px 9px;
    }

    .topnav #link {
        font-size: 13px;
    }
}

.topnav #name:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.topnav #link:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.topnav #resume:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.projects {
    margin-top: 160px;
    text-align: center;
}

.projects h2 {
    margin-top: 20px;
    font-size: 20px;
}

.projects .holder {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.projects .holder .display{
    width: 600px;
    height: auto;
    border: 3px solid rgb(218, 200, 164);
    border-radius: 15px;
    background-color: rgb(253, 248, 238);
    transform: skew(-0.3deg) rotate(0.3deg);
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects button a {
    color: khaki;
    background-color: rgb(164, 111, 202);
    border-radius: 8px;
    text-decoration: none;
}

.projects button {
    margin-top: 20px;
    color: khaki;
    padding: 6px;
    background-color: rgb(164, 111, 202);
    border-radius: 8px;
    text-decoration: none;
}

.projects img {
    margin: 10px;
    padding: 12px;
    width: 120px;
    height: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 5px solid rgb(218, 200, 164);
}

.gallery {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #d77bf3;
    background: linear-gradient(95deg, #9d70d1 40%, #9c63b6 100%);
    -webkit-transform: skewY(12deg);
    transform: skewY(5deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -12; 
}

.gallery .contents{
    display: flex;
    justify-content: space-evenly;
    -webkit-transform: skewY(-1deg);
    transform: skewY(-0.3deg);
    padding: 150px 10px 100px 10px;
}

@media all and (max-width: 1200px){
    .gallery .contents{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.gallery img {
    margin: 10px;
    padding: 12px;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 5px solid rgb(218, 200, 164);
}

.footer {
    padding: 10px;
    position: static;
    margin-top: 160px;
}


      
  