@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(205, 174, 218);
}

.hero-area {
    position: relative; 
}

.hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #d77bf3;
    background: linear-gradient(95deg, #7333bd 40%, #9d06e4 100%);
    -webkit-transform: skewY(-12deg);
    transform: skewY(-7deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -12; 
}

.hero-area .overlay span {
    width: 50%;
    bottom: 0;
    background: #d77bf3;
    background: linear-gradient(95deg, #d77bf3 40%, #9d06e4 100%);
    position: absolute;
    height: 170px;
    left: 3%; 
}

.hero-area .contents {
    padding: 100px 0; 
}

.card {
    width: 70%;
    margin: auto;
    border: 3px solid rgb(218, 200, 164);
    border-radius: 15px;
    background-color: rgb(253, 248, 238);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: skew(0.6deg) rotate(-0.6deg);
    padding: 50px 20px
}

.card a {
    text-decoration: none;
    color:#7333bd;
    font-weight: 900;
}

.hero-area .contents .card h1{
    font-size: 50px;
}

.hero-area .contents .card {
    transform: skew(-5.6deg) rotate(1.6deg);
}

.hero-area .contents .card p{
    font-size: 20px;
}

.fa {
    color: inherit;
    padding: 20px;
    text-decoration: none;
}

@media all and (max-width: 1200px){
    .hero-area .contents {
        padding: 80px 0; 
    }

    .hero-area .contents .card h1{
        font-size: 40px;
        padding: 12px;
    }

    .hero-area .contents .card p{
        font-size: 15px;
        padding-left: 12px;
    }
}

.gallery {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #d77bf3;
    background: linear-gradient(95deg, #9d70d1 40%, #9c63b6 100%);
    -webkit-transform: skewY(12deg);
    transform: skewY(5deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -12; 
}

.gallery .contents{
    display: flex;
    justify-content: space-evenly;
    -webkit-transform: skewY(-1deg);
    transform: skewY(-0.3deg);
    padding: 150px 10px 100px 10px;
}

@media all and (max-width: 1200px){
    .gallery .contents{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.gallery img {
    margin: 10px;
    padding: 12px;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 5px solid rgb(218, 200, 164);
}

#github {
    text-decoration: none;
}
